@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', system-ui, sans-serif;
  display: flex;
  justify-content: center;
}
.puzzle {
  background-image: url('duck.png');
  background-size: cover;
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: 100px;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid grey;
}