@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', system-ui, sans-serif;
  font-size: 16px;
}
.puzzle {
  background-size: cover;
  width: 400px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 25%));
  grid-auto-rows: 100px;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid grey;
  background-size: contain;
  background-repeat: no-repeat;
}
.buttons {
  display: flex;
  max-width: 400px;
}
.buttons button {
  width: 100%;
  padding: 8px;
  margin: 4px;
  font-size: 1rem;
}